*{
    font-family: 'poppins',sans-serif;
}
.Display_Main{
    height:90%;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;

}
.Part_One{
    background: cyan;
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}
.Top_text{
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: 2vw;
    flex-direction: column;
}
.Top_text h1{
    font-size: 4em;
    font-weight: 400;
}
.Top_text .Country{
    font-size: 2em;
    margin-top: -2vh;

}
.Bottom_text{
    height:100%;
    width:100%;
    display: flex;
    align-items:baseline;
    justify-content:end;
    margin-left: 2vw;
    margin-bottom: 5vh;
    flex-direction: column;
}
.Part_Two{
    background: yellow;
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}