*{
    font-family: 'poppins',sans-serif;
}
.Display_Main{
    height:90%;
    width:90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: pink; */

}
.Part_One{
    /* background: cyan; */
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: -5vw;
}
.Top_text{
    height:100%;
    width:100%;
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: 2vw;
    flex-direction: column;
}
.Top_text h1{
    font-size: 4em;
    font-weight: 400;
}
.Top_text .Country{
    font-size: 2em;
    margin-top: -2vh;

}
.Bottom_text{
    height:100%;
    width:100%;
    display: flex;
    align-items:baseline;
    justify-content:end;
    margin-left: 2vw;
    margin-bottom:5vh;
    flex-direction: column;
    /* background-color: pink; */
    /* margin-top: -50vh; */
}
.Bottom_text .Bottom_H_T{
    position: relative;
    height:100%;
    width:100%;
    top:-2vh;
    /* text-overflow: clip; */
    /* background: pink; */
}
.Bottom_text .Bottom_H_T h2{
  font-size: 3em;
}
.Bottom_text h2{
    margin-top: -10vh;
}
.Bottom_text .Box{
    position: absolute;
    height:35vh;
    width:30vw;;
    background: rgba(255, 255, 255,0.5);
    border-radius: 25px;
}
.Part_Two{
    /* background: yellow; */
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -5vw;
    margin-right: 5vw;
}
.Top_temp{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:stretch;
    margin-top: -20vh;
    flex-direction: column;
    /* background: blueviolet; */
    text-align: center;
}
.Top_temp h1:hover, .Top_temp h2:hover{
    transition: 0.5s ease;
    color:white;
    cursor: pointer;
}
.Top_temp h1{
    font-size: 10em;
}
.Top_temp h2{
    margin-top: -5vh;
    font-size:5em;
}
.Cards{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: row !important;
    /* background: rgb(72, 245, 42); */
}
.Card_Sub{
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.Card_Sub_Sub{
    height:250px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 20px;
    text-align: center;
    /* padding-top: 20px; */
}
.Card_Sub_Sub:first-child{
    background: rgba(131, 232, 255, 0.5);
}