*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
  }
.Main{
    height: 100%;
    width:100%;
    
    /* background: pink; */
    background: url('https://wallpaperaccess.com/full/701860.jpg');
    background-size: cover;
  }

  .Main_sub{
    height: 100%;
    width:100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    /* backdrop-filter: blur(10px); */
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "Search"
                          "Display";
    position: relative;
    z-index: 10;

  }
  .Input{
    grid-area: Search;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    position: relative;
    z-index: 10;
  }
  .Input input{
    outline: none;
    height:6vh;
    width:20vw;
    border-radius: 25px;
    border: 2px solid black;
    /* border:none; */
    margin-top: 10vh;
    margin-left:0vw;
    padding:15px;
  }
  .Input label{
    font-size: 1.2em;
    margin-left:12vw;

    font-weight:bold;
  }
  .Display{
    grid-area: Display;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Pseudo_ele{
    height:90vh;
    width:90vw;
    position: absolute;
    z-index: 0;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.649);
    backdrop-filter: blur(10px);
  }