*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
.Main{
    height: 100%;
    width:100%;
    
    /* background: pink; */
    background: url('https://wallpaperaccess.com/full/701860.jpg');
    background-size: cover;
  }

  .Main_sub{
    height: 100%;
    width:100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "Search"
                          "Display";

  }
  .Input{
    grid-area: Search;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Input input{
    outline: none;
    height:8vh;
    width:50vw;
    border-radius: 50px;
    border:none;
    padding:15px;
  }
  .Display{
    grid-area: Display;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }